body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
  }
  form {
    width: 30%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin-top: 3%;
    border: 3px solid rgb(150, 175, 197);
    border-radius: 5px;
  }
  h3 {
    text-align: center;
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .inputBox {
    width: 110%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  label {
    width: 145px;
  }
  #categoryinput {
    width: 110px;
  }
  button {
    background-color: aliceblue;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
  }
  a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
  }
  .errorMsg {
    margin-top: 5px;
    margin-left: 52%;
    color: red;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
  }
  table {
    border-collapse: collapse;
    margin-top: 3%;
    width: 60%;
    text-align: center;
  }
  td,
  th {
    border: 1px solid black;
    padding: 5px;
  }
  th {
    color: rgb(58, 92, 92);
  }
  