body{
    margin: 0;
    padding: 0;
    display : flex;
    flex-direction : column;
    row-gap : 10px;
    align-items : center;
    justify-content: center;
    background-color: aliceblue;
}
h3{
    text-align: center;
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    width: 24%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin-top: 3%;
    border: 3px solid rgb(150, 175, 197);
    border-radius: 5px;
}
button{
    width: 50px;
}
.error{
    color: red;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.contain{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
span{
    text-align: center;
}
.indexDiv label{
    width : 100px;
}
.displayDiv{
    border: 3px solid rgb(113, 196, 196);
    background-color: rgb(11, 49, 49);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin-top: 3%;
    width: 50%;
    padding: 2%;
}
