body{
    display : flex;
    flex-direction : column;
    row-gap : 10px;
    align-items : center;
    justify-content: center;
    background-color: aliceblue;
}
form{
    width: 30%;
    display : flex;
    flex-direction: column;
    align-items: center;
    row-gap : 15px;
    margin-top : 2%;
    padding: 3%;
    border: 2px solid rgb(11, 11, 15);
    border-radius: 5px;
}
h3{
    text-align: center;
}
button ,a{
    width: 50px;
    padding : 3px;
    border: 1px solid black;
    background-color: aliceblue;
    border-radius: 2px;
}
a{
    text-decoration: none;
    border: 1px solid black;
    color: black;
    padding: 3px;
    font-family:sans-serif;
    font-size: small;
    border-radius: 2px;
}
.indexDiv{
    display : flex;
}
.indexDiv label{
    width : 100px;
}
/* #phpDiv{
    margin-top : 7%;
} */
/* .displayDiv{
    border: 3px solid rgb(113, 196, 196);
    background-color: rgb(11, 49, 49);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin-top: 3%;
    width: 50%;
    padding: 2%;
} */
/* .details{
    width: 50%;
    display: flex;
    flex-direction: row;
    row-gap: 10px;
} */
.labels{
    width: 150px;
    color:rgb(88, 214, 214);
}
#dob input{
    width: 180px;
}
#gender input{
    width: 46px;
}
table{
    border-collapse: collapse;
    
}
td , th{
    border: 1px solid black;
    padding: 5px;
}
th{
    color: rgb(58, 92, 92);
}